body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 40px; /* ここで画像コンテナの位置を下げる */
}

.image-box {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-size: 14px;
    overflow: hidden;
}

.image-box img {
    max-width: 100%;
    max-height: 100%;
}

#random-button, .toggle-all-button, #toggle-all-button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 0;
    display: block;
}

/* リンクを中央寄せにするためのスタイル */
.link-container {
    text-align: center;
    margin-top: 20px; /* リンクとボタンの間のスペースを追加 */
}

/* 枠で囲むためのスタイル */
.link-container a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 0 10px; /* リンク間のスペースを追加 */
    text-decoration: none;
    color: #000;
}

.link-container a:hover {
    background-color: #f0f0f0; /* ホバー時の背景色 */
}

/* オプション画像とボタンのスタイル */
#options-container {
    margin-top: 40px;
}

.option-group {
    margin-bottom: 20px;
}

.option-group h2 {
    display: inline-block;
    margin-right: 10px; /* タイトルとボタンの間のスペース */
}

.option-item {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.option-item img {
    display: block;
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 5px;
}

.toggle-button {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
}
