/* My StyleSheet */
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff url('./image/mk8dxbackground.jpg') repeat;
    background-image: -webkit-image-set(
        url("./image/mk8dxbackground.avif"),
        url("./image/mk8dxbackground.jpg"));
    background-image: image-set(
    "./image/mk8dxbackground.avif" type("image/avif"),
    "./image/mk8dxbackground.jpg" type("image/jpeg")
    );
}

h1 {
    text-align:center;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 横に8個の列 */
    gap: 10px; /* 要素間の隙間 */
    padding: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    width: 100px; /* 画像の幅を適宜設定 */
    height: auto; /* 画像の高さを自動調整 */
}

.item button {
    margin-top: 5px; /* 画像とボタンの間の隙間 */
}
